body {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 3 rem;
}

h1, h2, h3 {
    color: #333;
    /* font-weight: normal; */
}


form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 30vw; /* 800px;*/
    max-width: 50vw; /* 800px;*/
    margin: auto;
}



.form-top {
    display: flex;
}

.column-1 {
    display: block;
    margin: auto;
}

.column-2 {
    margin: auto;
    display: block;
}


/* Spot footing */
#spotFootingsSection {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* .spotFootingsColumn {
    flex: 5;
    padding: 10px;
} */

.spotFootingsRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.spotFooting {
    flex: 3;
    padding: 7px;
    padding-top: 0px;
    /* padding-bottom: 0px; */
    /* margin-bottom: 20px; */

    border: 0.5px solid #ccc;
}

.spotFootingFirst {
    padding-top: 7px;
    padding-left: 0px;
    padding-right: 20px;
    padding-top: 0px;
    /* padding-bottom: 0px; */
    /* margin-bottom: 20px; */
    width: 6vw;
}

.spotFooting label, .spotFooting input {
    display: inline-block;
    /* width: auto; */
    margin: 5px 0;
}

spotFootingNumber {
    /* padding-top: 5px; */
    color: #333;
    font-size: small;
    font-weight: bold;
}

/* .labels {
    text-align: right;
    padding-right: 10px;
} */
/* .spotFooting {
    text-align: center;
} */

/* Panels */
.panelRow {
    display: flex;
    /* display: grid; */
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 5vh;
    overflow: auto;
}

.panel {
    flex: 3;
    /* padding: 7px; */
    min-width: 4rem;
    padding-top: 0px;
    /* padding-bottom: 0px; */
    /* margin-bottom: 20px; */

    border: 0.5px solid #ccc;
}

.panelFirst {
    padding-top: 7px;
    padding-left: 0px;
    padding-right: 5px;
    padding-top: 0px;
    /* padding-bottom: 0px; */
    /* margin-bottom: 20px; */
    width: 8vw;
    position: sticky;
    left: 0px;
    min-width: 8vw;
    max-width: 8vw;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 0.06rem;
    padding-top: 1.8rem;
}

.labelPanel:nth-child(even) {
    background: rgba(218, 230, 247, 0.856);
}



.panel label, .panel input {
    display: inline-block;
    /* width: auto; */
    margin: 5px 0;
}


panelNumber {
    /* padding-top: 5px;
    margin: 5px; */
    color: #333;
    font-size: small;
    font-weight: bold;
}

/* labels */

label {
    display: inline-block;
    min-width: 3vw;
    margin-bottom: 10px;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
}

.labelReportHeading {
    min-width: 12vw;
}

.labelSpotFooting {
    height: 1vh;
    font-size: smaller;
}
.labelPanel {
    min-height: 0.28vh;
    /* width: 6vw; */
    font-size: x-small;
    text-align: end;
    margin-top:2px;margin-bottom:1px;
}

.labelPanelName {
    height: 1.5vh;
    /* width: 6vw; */
    font-size: medium;
    font-weight: bold;
    text-align: left;
}

.labelPanelCode {
    margin-bottom: 0.7rem
}


input[type="text"],
input[type="date"],
input[type="url"],
input[type="checkbox"] {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    width: auto;
    padding: 3px;
    margin-bottom: 2px;
    border: 0.5px solid #ccc;
    border-radius: 2px;
}

.checkboxCell {
    background-color: white;
    min-width: 4rem;
}

.checkboxCell:nth-child(odd) {
    background: rgba(218, 230, 247, 0.856);
}

button {
    padding: 10px 20px;
    background: #5a9bd6;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background: #3a7bd6;
}

.button {
    padding: 9.5px 20px;
    background: #5a9bd6;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: small;
}

.button:hover {
    background: #3a7bd6;
}

.section {
    margin-bottom: 20px;
}

.section-buttons {
    text-align: right;
    margin-bottom: 20px;
}


.horizontal-line {
    border: none;
    border-top: 1px solid #575757;
    margin: 20px 0;
}


.panelCode {
    width: 2vw;
    height: 1vh;
    text-align: center;
    font-size: smaller;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 4px;
}