body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.panel {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.panel button {
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    outline: none;
}
.panel button.active {
    background-color: #45a049;
}

.form-container {
    display: none;
    width: 800px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-container.active {
    display: inline;
}

.tabs {
    display: flex;
    justify-content: center;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
}
.tab {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.tab:hover {
    background-color: #ddd;
}
.tab.active {
    background-color: #ccc;
}
.tab-content {
    display: none;
    padding: 20px;
    overflow-y: auto;
    max-height: 60vh;
}
.tab-content.active {
    display: flex;
}
.scrollable-content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
}
.subform {
    display: flex;
    margin-bottom: 20px;
}
.task-column, .image-column {
    flex: 1;
    padding: 20px;
}
.task-item {
    margin: 10px 0;
}
.task-sub-item {
    margin: 5px 0 5px 20px;
}
.task-sub-sub-item {
    font-size: smaller;
    margin: 3px 10px 2px 20px;
}

.task-item a, .task-sub-item a {
    text-decoration: none;
    color: #007BFF;
}
.task-item a:hover, .task-sub-item a:hover {
    text-decoration: underline;
}


.image-column img {
    width: 100%;
    height: auto;
}
.progress-bar {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 5px;
}
.progress-bar div {
    height: 10px;
    background-color: #4caf50;
}

.progress-part {
    font-size: smaller;
}

ul {
    list-style: none;
    font-size: smaller;
    padding: 0;
  }

  /* Optional: Add some margin to the list items for spacing */
  /* li {
    margin-bottom: 5px;
  } */